.container-marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 8px;
  }

  .description-marketing {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 628px;

    color: #717171;
  }
}

.container-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
}

.card{
    width: 368px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    background-color: #F5F7FA;
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
    border-radius: 8px;
    height: 156px;
    position: absolute;
    top: 200px;
    width: 317px;

    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #717171;
    }

    span {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #4CAF4F;
    }
}